* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
    padding: 20px;
}

.img-container {
    overflow: hidden;
    border-radius: 10px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img-container img:hover {
    transform: scale(1.05);
}

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.full-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
}



.img-container img:hover {
    transform: scale(1.05);
}
